body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    font-family: Arial, sans-serif;
}

/* Modern browsers */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

/* WebKit-based browsers */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat-container {
    display: flex;
    height: 90vh;
    margin: 30px auto;
    overflow: hidden;
    background-color: transparent;
    justify-content: space-between;
}
.sidebar {
    width: 35%;
    background-color: rgba(44, 62, 80, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar-header{
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar-header_search{
    padding: 5px;
    display: flex;
    background-color: rgba(52, 73, 94, 1);
    border-radius: 25px;
}

.sidebar-header_search input {
    flex-grow: 1;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding-left: 15px;
}

.sidebar-bottom-btn.active {
    border: none;
}

.user-list {
    flex-grow: 1;
    overflow-y: auto;
}

.sidebar-bottom {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 10px;
}

.sidebar-bottom_icon {
    font-size: 30px;
}

.btn {
    border: none;
}

.sidebar-bottom-btn {
    transition: padding-bottom 0.3s ease; 
}

.sidebar-bottom-btn:hover,
.sidebar-bottom-btn.active {
    padding-bottom: 30px;
}

.chat-box {
    width: 62%;
    background-color: rgba(52, 73, 94, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}
.chat-header {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 16px;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.chat-messages {
    padding: 15px;
    flex-grow: 1;
    overflow-y: auto;
}
.message {
    margin-bottom: 10px;
    display: flex;
}
.message.sent {
    justify-self: end;
    align-items: center;
}

.message.sent p {
    background-color: #6fd39f;
    padding: 15px;
    border-radius: 25px;
    color: black;
    margin-right: 10px;
}

.message.received {
    justify-self: start;
    align-items: center;
}

.message.received p {
    background-color: #8bb9f2;
    padding: 15px;
    border-radius: 25px;
    color: black;
    margin-left: 10px;
}

.message-info span{
    color: lightgrey;
    font-size: 14px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.chat-bottom {
    background-color: rgba(0, 0, 0, 0.01);
    padding: 15px;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: rgb(52, 73, 94);
    border-radius: 10px;
    align-items: center;
}
.chat-input input {
    flex-grow: 1;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}
.user {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.user:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.user.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.user img {
    border-radius: 50%;
    margin-right: 10px;
}

.user-avt {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.chat-header_icon {
    font-size: 24px;
    color: white;
}

.chat-header_avt {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.chat-message_avt {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.chat-header_name {
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
}

.intro-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    z-index: 10;
    animation: slideUp 3s ease forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
.settings {
    display: flex;
    flex-direction: column;
    margin-bottom: 360px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin: 10px 0;
    background-color: rgba(14, 14, 14, 0.221); /* màu nền đen mờ */
    padding: 10px;
    border-radius: 5px;
    color: white; /* màu chữ trắng */
}

label {
    font-size: 18px;
}

select {
    background-color: #0a0a0b42; /* màu nền dropdown */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(14px);
}